<div id='page-wrapper'>

	<div class='row'>
		<div class='col-lg-12'>

			<div class='header-bar page-header'>
				<h1 class='page-header text-gray-800'>Products List</h1>
				<a class='header-bar__btn btn btn-success' href='/admin/products/create'><i
						class='fa fa-plus'
					></i>
					Create new product</a>
			</div>

		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class='row'>
		<div class='col-lg-12'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					DataTables Advanced Tables
				</div>
				<!-- /.panel-heading -->
				<div class='panel-body'>
					<table id='datatable-product' class='display' style='width:100%'>
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>Name</th>
								<th>Thumbnail</th>
								<th>Description</th>
								<th>Category ID</th>
								<th>Sale Price</th>
								<th>Original Price</th>
								<th>Product Images</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each products}}
								<tr>
									<td>{{_id}}</td>
									<td>{{name}}</td>
									<td><img
											style='border: 1px solid grey'
											src='{{thumbnail}}'
											alt='{{name}}'
											width='100'
										/></td>
									<td>{{shortDescription}}</td>

									<td>{{categoryId}}</td>

									<td class='text-right'>$ {{salePrice}}</td>
									<td class='text-right'>$ {{originalPrice}}</td>
									<td class='text-center'>
										<img
											class='mb-8'
											style='border: 1px solid grey;'
											src='{{images}}'
											width='100'
										/>
										<img style='border: 1px solid grey' src='{{images}}' width='100' />
									</td>
									<td class='text-center'>
										<a
											style='justify-content: center;'
											class='btn btn-outline btn-success btn-xs mb-1'
											href='products/{{_id}}'
										>Edit</a>
										<a
											class='btn btn-danger'
											data-toggle='modal'
											data-target='#delete-modal'
											data-id='{{_id}}'
										>
											Delete
										</a>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
					<!-- /.table-responsive -->

					<div
						class='modal fade'
						id='delete-modal'
						tabindex='-1'
						aria-labelledby='exampleModalLabel'
						aria-hidden='true'
					>
						<div class='modal-dialog'>
							<div class='modal-content'>
								<div class='modal-header'>
									<h5 class='modal-title' id='exampleModalLabel'>Warning</h5>
									<button type='button' class='close' data-dismiss='modal' aria-label='Close'>
										<span aria-hidden='true'>&times;</span>
									</button>
								</div>
								<div class='modal-body'>
									Are you sure want to delete this product?
								</div>
								<div class='modal-footer'>
									<button
										type='button'
										id='btn-delete-product'
										class='btn btn-danger'
									>Delete</button>
									<button
										type='button'
										class='btn btn-secondary'
										data-dismiss='modal'
									>Close</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
<!-- /#page-wrapper -->

<form name='delete-form' method='POST'></form>
